.product-details-container {
    display: grid;

    min-height: calc(100vh - 200px);
    height: calc(100vh - 150px);
    grid-template-areas:
        ". ."
        "product-image product-description"
        "product-image product-actions";
    grid-gap: 5px;
}
