.searchbar-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;

    input {
        width: 35%;
    }
    @media screen and (max-width: 600px) {
        justify-content: center;
        input {
            width: 75%;
        }
    }
    input::placeholder {
        font-weight: bold;
        opacity: 0.75;
        padding-left: 1px;
        font-size: 0.75rem;
    }
}
