.searchbar-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;

    input {
        width: 35%;
    }
    input::placeholder {
        font-weight: bold;
        opacity: 0.75;
        padding-left: 1px;
        font-size: 0.75rem;
    }
}
