.products-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-gap: 25px;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 600px) {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}

.products-error {
    display: flex;
    min-height: calc(100vh - 200px);
    justify-content: center;
    align-items: center;
}
